.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  background-color: #adafad;
}

.student-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.mat-student-list {
  display: flex;
}
