<div class="container">
  <h2>List of Students</h2>
  <div class="student-list">
    <mat-list class="mat-student-list" *ngFor="let student of students">
      <mat-list-item>
        <h4>{{ student.name }}</h4>
      </mat-list-item>

      <mat-list-item>
        <h4>{{ student.matriculation }}</h4>
      </mat-list-item>

      <mat-list-item>
        <h4>{{ student.subject }}</h4>
      </mat-list-item>
      <button
        mat-button
        type="button"
        style="background-color: dimgray; color: white; margin: 5px"
        (click)="onEdit(student)"
      >
        Edit
      </button>
      <button
        mat-button
        type="button"
        style="background-color: dimgray; color: white; margin: 5px"
        (click)="onDelete(student)"
      >
        Delete
      </button>
    </mat-list>
  </div>
</div>
